---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - autolabeller.autolabeller.github.com
  resources:
  - classificationrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autolabeller.autolabeller.github.com
  resources:
  - classificationrules/finalizers
  verbs:
  - update
- apiGroups:
  - autolabeller.autolabeller.github.com
  resources:
  - classificationrules/status
  verbs:
  - get
  - patch
  - update
